.user-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:nth-child(even) {
    background: #cacaca;
  }

  &:nth-child(odd) {
    background: #dedede;
  }

  &__image {
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  &__image-thumbnail {
    border-radius: 50%;
    width: 70px;
    object-fit: cover;
  }

  &__user-information{
    flex-wrap: nowrap;
    padding: 10px;
  }
  &__full-name, &__user-name, &__email {
    word-break: break-word;
    margin: 0;
  }
}