.header {
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
  height: 50px;
  background: white;
}